[submodule "src/vendor/GLFW"]
	path = src/vendor/GLFW
	url = https://github.com/IIMrFreemanII/glfw
[submodule "src/vendor/glm"]
	path = src/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "src/vendor/imgui"]
	path = src/vendor/imgui
	url = https://github.com/IIMrFreemanII/imgui
	branch = docking
[submodule "src/vendor/assimp"]
	path = src/vendor/assimp
	url = https://github.com/IIMrFreemanII/assimp
